.App {
  text-align: justify;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #213124;
  height: 150px;
  padding: 20px;
  color: #1A1E1B;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #98A29A;
}

.MovieList {
  background-color: #A3BFA8;
  color: #607B63;
  border-radius: 0.8em;
}

p {
  padding: 0.8em;
  padding-bottom: 1em;
  margin-bottom: 0em;
  background-color: #F9F5DD;
  border-radius: 0.8em;
}

li {
  border-radius: 0.8em;
}

ul {
  list-style: none;
  margin-top: 8em;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
